.Fondo {
  	background-image: url(../img/fondo.jpg);
  	background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: cover;
    	width: 100%;
   	height: 100%;
}


.brand-logo img {
  margin-top: -110px;
  height: 300px;
}

.p .img {
 float: right;
 width: 100%;
}
